
<div><img style="height: 40px; margin-bottom: 40px;" src="{{logoLink}}" /></div>
<div>親愛的商戶:</div>
<div>你經網上自助平台提交的宣傳稿已經通過審批！</div>
<div>我們會按照預設日期安排發佈。</div>
<div style="margin: 35px 0;">如欲查看宣傳計劃詳情或提交下一則宣傳稿</div>
<div style="margin: 35px 0;">
  <a style="background-color: #b41437;
    color: white;
    padding: 15px 55px;
    text-decoration: none;
    border-radius: 5px;" href="{{loginLink}}">
    登入
  </a>
</div>
<div>《蘋果優惠》 謹啟</div>
<div style="margin-top: 50px; height: 90px; background-color: #fcfcfc;">
  <div style="padding-top: 20px; font-size: 13px; letter-spacing: 0.3px; text-align: center; color: #a7a7ab;">
    © 2017 Apple Daily E-Classified Limited. All rights reserved. 版權所有 不得轉載
  </div>
  <div style="text-align: center;">
    <div style="display: inline-block; margin: 0 15px;">
      <a style="font-size: 13px; letter-spacing: 0.3px; color: #a7a7ab;" href="mailto:cs@nextclassified.com">
        聯絡我們
      </a>
    </div>
    <div style="display: inline-block; margin: 0 15px;">
      <a style="font-size: 13px; letter-spacing: 0.3px; color: #a7a7ab;" href="{{tandcLink}}">
        條款及細則
      </a>
    </div>
    <div style="display: inline-block; margin: 0 15px;">
      <a style="font-size: 13px; letter-spacing: 0.3px; color: #a7a7ab;" href="{{privacyLink}}">
        私隱條例
      </a>
    </div>
  </div>
</div>